<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <title>Login</title>
</head>

<body>
    <div class="wrapper">
        <h1>Login</h1>
        <form action="/log-in" method="post" class="login-form">
            <div class="input-item">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required />
            </div>

            <div class="input-item">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required />
            </div>

            <button type="submit" class="login-btn">Login</button>
        </form>

        <p>Create new account? <a href="/sign-up">Sign up</a></p>
    </div>
</body>

</html>