<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <title>Sign Up</title>
</head>

<body>
    <div class="wrapper">
        <h1>Sign Up</h1>
        <form action="/sign-up" method="post" class="signup-form">
            <div class="input-item">
                <label for="first_name">First Name:</label>
                <input id="first_name" name="first_name" type="text" required />
            </div>

            <div class="input-item">
                <label for="last_name">Last Name:</label>
                <input id="last_name" name="last_name" type="text" required />
            </div>

            <div class="input-item">
                <label for="username">Username:</label>
                <input id="username" name="username" type="text" required />
            </div>

            <div class="input-item">
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" required />
            </div>

            <div class="input-item">
                <label for="confirm_password">Confirm Password:</label>
                <input id="confirm_password" name="confirm_password" type="password" required />
            </div>

            <button type="submit" class="signup-btn">Sign Up</button>
        </form>

        <p>Already have an account? <a href="/log-in">Log in</a></p>
    </div>
</body>

</html>