@font-face {
    font-family: 'Alagard';
    src: url("/fonts/Alagard.ttf") format('truetype');
}

@font-face {
    font-family: 'rainyhearts';
    src: url('/fonts/rainyhearts.ttf') format('truetype');
}

:root {
    --header-font: 'Alagard', sans-serif;
    --main-font: 'rainyhearts', sans-serif;
}

body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/bg.jpg");
    background-repeat: repeat;
    cursor: url("/images/cursor2.gif"), auto;
}

h1 {
    font-family: var(--header-font);
    font-size: 3rem;
    color: #a0435c;
}

p,
label,
input,
button,
a {
    font-family: var(--main-font);
    font-size: 1.3rem;
    color: #a0435c;
}

a {
    color: #c95c66;
}

a:hover {
    font-style: italic;
    text-decoration: none;
}

/* main border image */

.box19 {
    margin: 1em 0;
    width: 50%;
}

.u01 {
    background: url(/images/f-ue.gif) repeat-x;
    height: 32px;
    margin: 0 32px;
}

.s01 {
    background: url(/images/f-sita.gif) repeat-x;
    height: 32px;
    margin: 0 32px;
}

.box-top {
    background-image: url(/images/f-kado1.gif), url(/images/f-kado2.gif);
    background-position: top left, top right;
    background-repeat: no-repeat, no-repeat;
    height: 32px;
}

.box-center {
    background-image: url(/images/f-migi.gif), url(/images/f-hidari.gif);
    background-position: top right, top left;
    background-repeat: repeat-y, repeat-y;
}

.box-inner {
    background: #fff;
    margin: 0 32px;
    padding: 10px;
}

.box-bottom {
    background-image: url(/images/f-kado3.gif), url(/images/f-kado4.gif);
    background-position: top left, top right;
    background-repeat: no-repeat, no-repeat;
    height: 32px;
}

.user-card {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

p span:first-child {
    font-weight: 600;
}

.user-info>h1 {
    font-size: 1.8rem;
    animation: jerk 0.5s infinite;
}

.user-info input {
    padding: 0.2rem 0.3rem;
    width: 75px;
}

.user-info button {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
    background-color: #ffecf8;
    border: 2px solid #a0435c;
    cursor: pointer;
    border-radius: 5px;
    width: 40%;
}

.user-info .edit-actions {
    display: flex;
    gap: 0.5rem;
}

.messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
}

.messages h2 {
    font-family: var(--header-font);
    color: #a0435c;
    font-size: 2rem;
    padding: 1.25rem 0;
}

.message-container {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.message-item {
    width: 85%;
    border: 2px #d47b83 dotted;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.message-item.hidden {
    display: none;
}

.message-item.visible {
    display: block;
}

.message-title {
    font-weight: 600;
}

.message-body {
    padding: 0.5rem 0.5rem;
}

.show-more-btn {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    margin-top: 1rem;
    cursor: pointer;
}

.show-more-btn:hover {
    text-decoration: none;
    font-style: italic;
}

.message-form {
    padding-top: 1rem;
}

.message-form form {
    padding: 0rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

textarea,
input {
    padding: 0.4rem 0.8rem;
    border: 1px solid #a0435c;
    color: #c95c66;
    border-radius: 5px;
    width: 80%;
}

textarea:focus,
input:focus {
    outline: 1px solid #a0435c;
}

form textarea {
    height: 100px;
    font-family: var(--main-font);
    font-size: 1.3rem;
    overflow-y: auto;
    resize: vertical;
}

.submit-btn {
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;
    background-color: #ffecf8;
    border: 2px solid #a0435c;
    cursor: pointer;
    border-radius: 5px;
}

.submit-btn:active {
    background-color: #c79bb7;
}

footer {
    padding: 2rem;
}

@keyframes jerk {
    0% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(1deg);
    }

    51% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(-1deg);
    }
}