@font-face {
    font-family: 'Alagard';
    src: url("/fonts/Alagard.ttf") format('truetype');
}

@font-face {
    font-family: 'rainyhearts';
    src: url('/fonts/rainyhearts.ttf') format('truetype');
}

:root {
    --header-font: 'Alagard', sans-serif;
    --main-font: 'rainyhearts', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("/images/bg.jpg");
    background-repeat: repeat;
    cursor: url("/images/cursor2.gif"), auto;
}

h1 {
    font-family: var(--header-font);
    font-size: 3rem;
    color: #a0435c;
}

p,
label,
input,
button {
    font-family: var(--main-font);
    font-size: 1.3rem;
    color: #a0435c;
}

a {
    color: #c95c66;
}

.wrapper {
    background-color: #ffecf8;
    width: 500px;
    padding: 3rem 1.25rem;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23A0435CFF' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
}

.login-form {
    padding: 0.4rem 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.login-btn {
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;
    font-weight: 600;
    background-color: #ffecf8;
    border: 2px solid #a0435c;
    cursor: pointer;
    border-radius: 5px;
}

.login-btn:active {
    background-color: #c79bb7;
}

.input-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
}

.input-item input {
    padding: 0.4rem 0.8rem;
    font-size: 1.3rem;
    border: 1px solid #a0435c;
    border-radius: 5px;
}

.input-item input:focus {
    outline: 1px solid #a0435c;
}